<ion-view view-title=''>
  <ion-content overflow-scroll="true" scroll="true">
    <div id="con" class="im-wrapper" style="margin-top: 10%">
      <div ng-show="vm.salts.length == 1">
        <p>This medicine contains only 1 salt. Adding it will add the salt to 'Strictly Prohibited Salts List'</p>
        <ion-checkbox style="margin-top: 10%" ng-show="vm.salts.length" ng-disabled="true" class="checkbox-dark" ng-repeat="salt in vm.salts" ng-model="salt.check" ng-checked="salt.check" ng-change="vm.pushChange()">
            {{salt.name}}
        </ion-checkbox>
      </div>
      <div ng-show="vm.salts.length > 1">
      <p>This medicine contains multiple salts. Either select salts and add to <b>Strictly Prohibited Salts List</b>, else
      select <b>I'm not sure</b> to add all the salts to <b>Probable Prohibited Salts List</b><p>
      <ion-checkbox class="checkbox-dark" ng-show="vm.salts.length" ng-repeat="salt in vm.salts" ng-model="salt.check" ng-checked="salt.check" ng-change="vm.pushChange()">
          {{salt.name}}
      </ion-checkbox>
    </div><br>

      <div class="bar-footer" style="margin-top: 20px">
      <!-- <div class="center-div"> -->
      <button class="bottomButton3" ng-hide="vm.salts.length == 1" ng-click="vm.notSure()">I'm not sure</button>
      <button class="bottomButton4" ng-click="vm.finalSure()" ng-disabled="!vm.checkSingleItemSelected()" >Save Selected</button>
    <!-- </div> -->
    <!-- <div class="center-div "> -->
      <button class="bottomButton2" ng-click="vm.goBack()">Back</button>
    <!-- </div> -->
  </div>
    </div>
  </div>
  </ion-content>
</ion-view>
