
<ion-view view-title=''>
    <ion-content>
        <div class="im-wrapper center-div thick">
          <div style="margin-top: 35%;">
            <h4 class='greenhead'>Search Salt</h4>
            Enter a name, and click 'Search' to get suggestions
          </div>
          <div style="margin-top: 15%">
            <form>
            <input type='text' ng-model='vm.searchSaltString' placeholder="Salt Name..." required>
            <button class="bottomButton2" ng-click="vm.searchSalt()">Search</button>
          </div>
        </div>
    </ion-content>
</ion-view>
