<ion-view view-title="">
  <ion-content>
    <div class="im-wrapper thick flat fill">
      <ion-slide-box style="height: 100%">
        <ion-slide>
          <img style="height: inherit"  src="img/nike1.png">
        </ion-slide>
        <ion-slide>
          <img style="height: inherit"  src="img/nike2.png">
        </ion-slide>
        <ion-slide>
          <img style="height: inherit" src="img/nike3.png">
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-content>
</ion-view>
