
<ion-view view-title="Future Prospects">
  <ion-content style="height:100%">
    <div class="im-wrapper thick flat">

         <ion-slide-box style="height: 80%">
           <ion-slide>

               <img style="width: 80%;" src="img/nike1.png">
           </ion-slide>
           <ion-slide>
             <img style="width: 80%" src="img/nike2.png">
           </ion-slide>
           <ion-slide>
             <img style="width: 80%" src="img/nike3.png">
           </ion-slide>
         </ion-slide-box>


  </div>
  </ion-content>
</ion-view>
