
<ion-view title=''>
    <ion-content class="fill">
        <div class="hellodiv bar-subheader text-center">
          <img src="img/mainbg.jpg"></img>
            <strong class="title">Welcome BC</strong>
        </div>
        <br>
        <div style="display:inline-block;width: 50%; height: 20%; overflow:hidden; word-wrap:break-word">
          <img style="max-width: 100%; max-height: 100%; min-width: 0; min-height:0; position: relative; left:25%" src="img/circle.png"></img>
        </div>
        <div style="display:inline-block;width: 50%; height: 20%; overflow:hidden; word-wrap:break-word; position: absolute; left:50%">
          <img style="max-width: 100%; max-height: 100%; min-width: 0; min-height:0; position: relative; left:5%" src="img/circle.png"></img>
        </div>

        <button class="bottomButton" ng-click="vm.goToMedicineSearch()">Check Medicine</button>
    </ion-content>
</ion-view>
